{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row" style="margin-top: 50px;">
  <div class="col-lg-6">
    <div class="box-element product col-lg-8">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Name:</th>
            <td>{{user.username}}</td>
          </tr>
          <tr>
            <th scope="row">Adress:</th>
            <td>{{userinfo.address}}</td>
          </tr>
          <tr>
            <th scope="row">City:</th>
            <td>{{userinfo.city}}</td>
          </tr>
          <tr>
            <th scope="row">State:</th>
            <td>{{userinfo.state}}</td>
          </tr>
          <tr>
            <th scope="row">Zip Code:</th>
            <td>{{userinfo.zipcode}}</td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <a class="btn btn-primary btn-block" href="{% url 'logout_view' %}">Logout</a>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="box-element">
      <hr>
      <h3>Purchase History</h3>
      <hr>
      {% for item in purchases %}
      <div class="cart-row">
        <div style="flex:2"><img class="row-image" src="{{item.product.product.imageURL}}"></div>
        <div style="flex:2"><p>{{item.product.product.name}}</p></div>
        <div style="flex:1"><p>x{{item.product.quantity}}</p></div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock content %}